
<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav"> 
 <li> <a href="index.html" class="dropdown-toggle">Home</a></li> 
  <li class="dropdown">
    <a data-toggle="dropdown" href="business-requirements.html" class="dropdown-toggle">Requirement Specifications<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="generic-personas.html">Personas</a></li>
      <li><a href="user-scenarios.html">Use cases</a></li>
      <li><a href="business-processes.html">Business Processes and Workflows</a></li>
       <li><a href="functional-requirements.html">Functional Requirements</a></li>
       <li><a href="non-functional-requirements.html">Non-Functional Requirements</a></li>
    </ul>
  </li>
  <li ><a href="artifacts.html">FHIR Artifacts</a></li>
  <li ><a href="privacy-security.html">Privacy and Security</a></li>

</ul>  